[["F" 12]
 ["W" 1]
 ["N" 3]
 ["E" 3]
 ["W" 3]
 ["F" 93]
 ["N" 2]
 ["R" 90]
 ["N" 4]
 ["L" 180]
 ["F" 13]
 ["E" 2]
 ["R" 270]
 ["F" 16]
 ["S" 4]
 ["L" 90]
 ["E" 1]
 ["S" 4]
 ["R" 180]
 ["L" 90]
 ["S" 2]
 ["F" 89]
 ["S" 3]
 ["R" 90]
 ["W" 1]
 ["F" 2]
 ["S" 2]
 ["W" 3]
 ["R" 180]
 ["N" 2]
 ["F" 41]
 ["E" 3]
 ["F" 74]
 ["E" 1]
 ["F" 20]
 ["W" 3]
 ["F" 32]
 ["E" 1]
 ["R" 90]
 ["F" 19]
 ["S" 4]
 ["E" 1]
 ["F" 41]
 ["L" 180]
 ["S" 1]
 ["L" 90]
 ["E" 5]
 ["L" 90]
 ["W" 2]
 ["F" 45]
 ["R" 180]
 ["F" 17]
 ["S" 3]
 ["E" 2]
 ["S" 1]
 ["F" 27]
 ["N" 5]
 ["R" 180]
 ["S" 1]
 ["E" 5]
 ["N" 1]
 ["L" 270]
 ["F" 60]
 ["L" 180]
 ["F" 18]
 ["N" 2]
 ["R" 180]
 ["E" 4]
 ["S" 4]
 ["L" 180]
 ["S" 5]
 ["L" 270]
 ["S" 1]
 ["F" 32]
 ["S" 5]
 ["F" 83]
 ["N" 2]
 ["R" 180]
 ["W" 1]
 ["L" 180]
 ["E" 2]
 ["S" 3]
 ["F" 94]
 ["N" 3]
 ["F" 82]
 ["L" 90]
 ["N" 2]
 ["W" 5]
 ["R" 180]
 ["S" 4]
 ["W" 3]
 ["E" 1]
 ["F" 81]
 ["S" 3]
 ["F" 45]
 ["R" 90]
 ["F" 51]
 ["R" 180]
 ["N" 1]
 ["W" 5]
 ["L" 90]
 ["E" 3]
 ["N" 5]
 ["E" 3]
 ["R" 180]
 ["N" 3]
 ["R" 180]
 ["F" 87]
 ["E" 4]
 ["R" 90]
 ["E" 4]
 ["L" 180]
 ["E" 4]
 ["R" 90]
 ["N" 1]
 ["L" 270]
 ["N" 3]
 ["E" 3]
 ["E" 3]
 ["L" 180]
 ["N" 1]
 ["W" 5]
 ["N" 3]
 ["F" 85]
 ["N" 1]
 ["E" 2]
 ["S" 3]
 ["L" 90]
 ["E" 5]
 ["N" 3]
 ["N" 1]
 ["F" 74]
 ["W" 2]
 ["F" 79]
 ["S" 1]
 ["L" 90]
 ["W" 5]
 ["F" 88]
 ["W" 4]
 ["N" 1]
 ["R" 180]
 ["F" 94]
 ["L" 90]
 ["W" 5]
 ["F" 79]
 ["R" 180]
 ["R" 270]
 ["N" 3]
 ["F" 83]
 ["W" 3]
 ["N" 3]
 ["L" 90]
 ["F" 33]
 ["S" 5]
 ["F" 93]
 ["L" 90]
 ["S" 1]
 ["W" 3]
 ["F" 24]
 ["L" 90]
 ["F" 80]
 ["S" 2]
 ["F" 86]
 ["F" 7]
 ["R" 90]
 ["E" 1]
 ["S" 3]
 ["W" 3]
 ["F" 23]
 ["R" 90]
 ["S" 1]
 ["W" 4]
 ["R" 90]
 ["N" 4]
 ["R" 270]
 ["S" 1]
 ["E" 1]
 ["F" 20]
 ["L" 270]
 ["F" 31]
 ["S" 2]
 ["L" 180]
 ["F" 41]
 ["E" 3]
 ["L" 90]
 ["N" 3]
 ["E" 3]
 ["N" 1]
 ["E" 5]
 ["F" 27]
 ["S" 3]
 ["W" 2]
 ["L" 90]
 ["E" 5]
 ["S" 1]
 ["F" 9]
 ["S" 3]
 ["E" 2]
 ["R" 90]
 ["S" 5]
 ["E" 2]
 ["R" 180]
 ["E" 3]
 ["F" 32]
 ["E" 3]
 ["S" 1]
 ["W" 1]
 ["F" 39]
 ["N" 4]
 ["F" 5]
 ["E" 5]
 ["F" 26]
 ["W" 4]
 ["S" 1]
 ["F" 54]
 ["S" 5]
 ["R" 90]
 ["F" 50]
 ["W" 4]
 ["S" 1]
 ["L" 90]
 ["S" 5]
 ["L" 90]
 ["F" 2]
 ["E" 5]
 ["L" 90]
 ["N" 1]
 ["W" 3]
 ["F" 75]
 ["L" 90]
 ["F" 85]
 ["S" 2]
 ["W" 4]
 ["F" 93]
 ["S" 4]
 ["E" 3]
 ["S" 2]
 ["E" 4]
 ["R" 90]
 ["S" 3]
 ["W" 1]
 ["F" 94]
 ["R" 90]
 ["N" 3]
 ["R" 270]
 ["S" 2]
 ["W" 3]
 ["N" 5]
 ["F" 1]
 ["S" 1]
 ["F" 32]
 ["E" 2]
 ["F" 17]
 ["N" 4]
 ["W" 2]
 ["S" 4]
 ["L" 90]
 ["W" 2]
 ["N" 2]
 ["L" 180]
 ["F" 94]
 ["R" 90]
 ["F" 78]
 ["N" 3]
 ["E" 3]
 ["N" 3]
 ["E" 4]
 ["F" 37]
 ["E" 5]
 ["L" 180]
 ["W" 2]
 ["L" 180]
 ["N" 2]
 ["R" 270]
 ["S" 2]
 ["F" 28]
 ["R" 90]
 ["S" 1]
 ["F" 15]
 ["E" 1]
 ["F" 50]
 ["N" 3]
 ["R" 90]
 ["F" 14]
 ["N" 4]
 ["F" 80]
 ["L" 90]
 ["S" 5]
 ["W" 1]
 ["L" 90]
 ["W" 5]
 ["F" 100]
 ["N" 1]
 ["L" 90]
 ["N" 5]
 ["W" 2]
 ["N" 1]
 ["F" 76]
 ["L" 180]
 ["S" 3]
 ["L" 180]
 ["E" 1]
 ["E" 5]
 ["F" 1]
 ["R" 90]
 ["W" 4]
 ["F" 95]
 ["S" 2]
 ["R" 90]
 ["W" 2]
 ["F" 29]
 ["W" 2]
 ["F" 47]
 ["W" 5]
 ["S" 5]
 ["W" 4]
 ["F" 58]
 ["L" 90]
 ["F" 22]
 ["N" 1]
 ["E" 4]
 ["N" 4]
 ["E" 2]
 ["S" 5]
 ["L" 180]
 ["W" 4]
 ["N" 2]
 ["W" 3]
 ["R" 90]
 ["F" 76]
 ["N" 1]
 ["F" 41]
 ["W" 5]
 ["F" 48]
 ["W" 1]
 ["N" 4]
 ["E" 2]
 ["R" 180]
 ["F" 79]
 ["N" 1]
 ["L" 90]
 ["S" 4]
 ["E" 2]
 ["F" 86]
 ["N" 2]
 ["E" 1]
 ["F" 5]
 ["W" 4]
 ["S" 2]
 ["L" 90]
 ["F" 3]
 ["R" 270]
 ["F" 43]
 ["L" 180]
 ["S" 5]
 ["R" 90]
 ["W" 5]
 ["R" 180]
 ["E" 4]
 ["S" 3]
 ["R" 90]
 ["S" 2]
 ["F" 41]
 ["F" 70]
 ["L" 270]
 ["E" 4]
 ["R" 90]
 ["F" 18]
 ["S" 4]
 ["F" 88]
 ["E" 2]
 ["L" 90]
 ["L" 270]
 ["F" 56]
 ["L" 90]
 ["N" 1]
 ["L" 90]
 ["F" 7]
 ["S" 3]
 ["F" 36]
 ["L" 90]
 ["F" 2]
 ["L" 90]
 ["F" 2]
 ["W" 4]
 ["S" 4]
 ["L" 90]
 ["E" 5]
 ["N" 2]
 ["L" 90]
 ["S" 4]
 ["R" 90]
 ["W" 1]
 ["R" 90]
 ["N" 2]
 ["E" 3]
 ["W" 2]
 ["S" 4]
 ["E" 4]
 ["R" 90]
 ["N" 5]
 ["L" 90]
 ["N" 4]
 ["F" 55]
 ["N" 3]
 ["E" 1]
 ["F" 80]
 ["W" 2]
 ["R" 90]
 ["S" 2]
 ["L" 90]
 ["W" 5]
 ["R" 90]
 ["R" 90]
 ["F" 87]
 ["L" 270]
 ["S" 5]
 ["R" 270]
 ["N" 5]
 ["E" 5]
 ["F" 10]
 ["E" 1]
 ["R" 180]
 ["N" 1]
 ["L" 90]
 ["S" 3]
 ["W" 1]
 ["F" 18]
 ["R" 90]
 ["S" 3]
 ["F" 89]
 ["L" 90]
 ["F" 42]
 ["S" 3]
 ["R" 180]
 ["F" 92]
 ["L" 90]
 ["F" 48]
 ["F" 11]
 ["W" 2]
 ["L" 180]
 ["F" 27]
 ["L" 180]
 ["N" 3]
 ["W" 1]
 ["S" 2]
 ["L" 90]
 ["W" 1]
 ["N" 1]
 ["W" 4]
 ["N" 1]
 ["R" 90]
 ["S" 2]
 ["W" 5]
 ["E" 1]
 ["F" 74]
 ["L" 180]
 ["F" 48]
 ["W" 3]
 ["F" 3]
 ["E" 3]
 ["F" 74]
 ["L" 270]
 ["F" 38]
 ["R" 180]
 ["N" 2]
 ["F" 83]
 ["S" 1]
 ["F" 78]
 ["L" 90]
 ["N" 4]
 ["F" 43]
 ["W" 3]
 ["W" 2]
 ["N" 1]
 ["L" 90]
 ["N" 2]
 ["W" 4]
 ["L" 90]
 ["S" 5]
 ["E" 5]
 ["W" 1]
 ["F" 83]
 ["E" 5]
 ["F" 70]
 ["N" 2]
 ["L" 90]
 ["N" 2]
 ["F" 66]
 ["S" 2]
 ["E" 2]
 ["R" 90]
 ["N" 1]
 ["F" 2]
 ["L" 90]
 ["F" 15]
 ["W" 3]
 ["F" 10]
 ["R" 90]
 ["N" 3]
 ["E" 5]
 ["N" 5]
 ["F" 57]
 ["R" 90]
 ["W" 2]
 ["F" 83]
 ["F" 91]
 ["W" 5]
 ["N" 2]
 ["R" 90]
 ["E" 4]
 ["S" 2]
 ["L" 90]
 ["N" 2]
 ["R" 90]
 ["S" 1]
 ["F" 49]
 ["L" 90]
 ["E" 3]
 ["L" 180]
 ["E" 2]
 ["F" 98]
 ["S" 1]
 ["R" 180]
 ["F" 23]
 ["N" 2]
 ["E" 2]
 ["F" 8]
 ["N" 2]
 ["L" 90]
 ["E" 2]
 ["N" 4]
 ["R" 90]
 ["F" 29]
 ["L" 90]
 ["E" 5]
 ["S" 3]
 ["F" 92]
 ["S" 5]
 ["F" 68]
 ["N" 1]
 ["L" 90]
 ["S" 5]
 ["F" 73]
 ["W" 4]
 ["L" 180]
 ["S" 1]
 ["R" 180]
 ["F" 74]
 ["R" 90]
 ["F" 27]
 ["R" 180]
 ["R" 90]
 ["F" 88]
 ["R" 270]
 ["S" 1]
 ["W" 1]
 ["F" 73]
 ["W" 1]
 ["S" 5]
 ["L" 90]
 ["N" 5]
 ["R" 90]
 ["F" 50]
 ["E" 2]
 ["R" 90]
 ["W" 3]
 ["F" 23]
 ["L" 90]
 ["W" 2]
 ["N" 1]
 ["E" 2]
 ["N" 2]
 ["F" 56]
 ["L" 90]
 ["F" 22]
 ["E" 5]
 ["F" 46]
 ["S" 2]
 ["L" 180]
 ["E" 4]
 ["R" 90]
 ["F" 10]
 ["W" 2]
 ["R" 90]
 ["E" 5]
 ["L" 270]
 ["S" 4]
 ["F" 55]
 ["R" 90]
 ["F" 17]
 ["R" 90]
 ["F" 8]
 ["L" 180]
 ["F" 25]
 ["E" 4]
 ["S" 2]
 ["E" 1]
 ["S" 1]
 ["F" 35]
 ["N" 5]
 ["W" 5]
 ["N" 3]
 ["F" 79]
 ["N" 1]
 ["R" 90]
 ["E" 1]
 ["F" 32]
 ["R" 90]
 ["F" 87]
 ["N" 2]
 ["R" 180]
 ["L" 180]
 ["F" 38]
 ["L" 90]
 ["S" 1]
 ["L" 270]
 ["S" 5]
 ["F" 63]
 ["L" 180]
 ["F" 50]
 ["W" 1]
 ["F" 23]
 ["S" 2]
 ["E" 2]
 ["F" 30]
 ["E" 3]
 ["L" 90]
 ["F" 79]
 ["R" 180]
 ["F" 90]
 ["L" 180]
 ["F" 81]
 ["R" 90]
 ["F" 72]
 ["R" 180]
 ["E" 4]
 ["N" 3]
 ["W" 3]
 ["R" 90]
 ["E" 5]
 ["R" 90]
 ["F" 81]
 ["S" 3]
 ["F" 66]
 ["S" 5]
 ["F" 83]
 ["L" 90]
 ["F" 15]
 ["N" 5]
 ["F" 16]
 ["L" 270]
 ["S" 3]
 ["L" 270]
 ["S" 3]
 ["L" 90]
 ["N" 5]
 ["E" 2]
 ["F" 60]
 ["W" 2]
 ["S" 4]
 ["E" 1]
 ["R" 180]
 ["W" 2]
 ["F" 28]
 ["W" 4]
 ["R" 90]
 ["N" 3]
 ["W" 3]
 ["F" 48]
 ["W" 2]
 ["S" 5]
 ["F" 2]
 ["R" 90]
 ["F" 47]
 ["S" 5]
 ["F" 11]
 ["S" 5]
 ["E" 2]
 ["N" 2]
 ["F" 93]
 ["S" 2]
 ["E" 4]
 ["F" 23]
 ["E" 4]
 ["S" 1]
 ["L" 90]
 ["F" 87]
 ["L" 180]
 ["N" 4]
 ["W" 5]
 ["N" 5]
 ["R" 180]
 ["R" 90]
 ["S" 5]
 ["F" 65]
 ["E" 5]
 ["F" 51]
 ["E" 5]
 ["F" 65]
 ["L" 90]
 ["S" 4]
 ["W" 3]
 ["L" 180]
 ["W" 1]
 ["W" 2]
 ["E" 4]
 ["R" 270]
 ["N" 4]
 ["F" 86]
 ["R" 90]
 ["L" 90]
 ["F" 9]
 ["F" 76]
 ["N" 4]
 ["E" 4]
 ["N" 4]
 ["R" 90]
 ["F" 40]
 ["E" 5]
 ["S" 1]
 ["W" 3]
 ["F" 22]
 ["W" 2]
 ["L" 90]
 ["F" 51]
 ["W" 1]
 ["E" 1]
 ["S" 2]
 ["F" 27]
 ["S" 5]
 ["R" 90]
 ["R" 270]
 ["R" 90]
 ["F" 71]
 ["R" 90]
 ["W" 4]
 ["R" 90]
 ["W" 1]
 ["N" 4]
 ["L" 90]
 ["E" 2]
 ["E" 1]
 ["F" 61]
 ["W" 1]
 ["S" 5]
 ["E" 2]
 ["E" 4]
 ["F" 10]
 ["L" 90]
 ["N" 2]
 ["F" 3]
 ["R" 90]
 ["F" 7]
 ["L" 90]
 ["F" 56]
 ["N" 1]
 ["R" 270]
 ["F" 70]
 ["F" 71]
 ["N" 3]
 ["F" 96]
 ["R" 90]
 ["F" 56]
 ["S" 4]
 ["F" 96]
 ["S" 5]
 ["W" 5]
 ["N" 4]
 ["E" 2]
 ["F" 90]
 ["S" 5]
 ["R" 180]
 ["F" 81]
 ["E" 1]
 ["N" 4]
 ["L" 90]
 ["S" 2]
 ["L" 180]
 ["E" 5]
 ["R" 90]
 ["S" 4]
 ["F" 60]
 ["S" 4]
 ["W" 3]
 ["F" 3]
 ["E" 5]
 ["F" 54]]